<!DOCTYPE html>
<html lang="en">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>intelCart</title>
</head>

<body>
<div class="main_itemDiv1">
  <div class="testForm">
    <div class="item">
      <input type="checkbox" id="checkitem1" name="checkitem1">
      <input type="text" name="itemName" readonly placeholder="쉐이크 1" value="checkitem1">
      <select name="checkitem1type" class="check_type">
        <option value="125">125ml</option>
        <option value="325">325ml</option>
      </select>
      <input type="number" min="1" value="1" class="itemNum" name="itemNum">
      <input type="text" class="item_total" value="125" readonly>
      <button type="button" onclick="addCart()">장바구니 추가</button>
      <button type="button" onclick="handlePurchase()">구매 하기</button>
    </div>
  </div>

  <form>
    <div class="item">
      <input type="checkbox" id="checkitem2" name="checkitem2">
      <label for="checkitem2">쉐이크 2</label>
      <select name="checkitem2type" class="check_type">
        <option value="125">125ml</option>
        <option value="325">325ml</option>
      </select>
      <input type="number" min="1" value="1" class="itemNum" name="itemNum">
      <input type="text" class="item_total" value="125" readonly>
      <button>장바구니 추가</button>
      <button type="button" onclick="handlePurchase()">구매 하기</button>
    </div>
  </form>

  <form>
    <div class="item">
      <input type="checkbox" id="checkitem3" name="checkitem3">
      <label for="checkitem3">쉐이크 3</label>
      <select name="checkitem3type" class="check_type">
        <option value="125">125ml</option>
        <option value="325">325ml</option>
      </select>
      <input type="number" min="1" value="1" class="itemNum" name="itemNum">
      <input type="text" class="item_total" value="125" readonly>
      <button>장바구니 추가</button>
    </div>
  </form>

  <form>
    <div class="item">
      <input type="checkbox" id="checkitem4" name="checkitem4">
      <label for="checkitem4">쉐이크 4</label>
      <select name="checkitem4type" class="check_type">
        <option value="125">125ml</option>
        <option value="325">325ml</option>
      </select>
      <input type="number" min="1" value="1" class="itemNum" name="itemNum">
      <input type="text" class="item_total" value="125" readonly>
      <button>장바구니 추가</button>
    </div>
  </form>

  <form>
    <div class="item">
      <input type="checkbox" id="checkitem5" name="checkitem5">
      <label for="checkitem5">쉐이크 5</label>
      <select name="checkitem5type" class="check_type">
        <option value="125">125ml</option>
        <option value="325">325ml</option>
      </select>
      <input type="number" min="1" value="1" class="itemNum" name="itemNum">
      <input type="text" class="item_total" value="125" readonly>
      <button>장바구니 추가</button>
    </div>
  </form>

  <button onclick="retrieveBasket()">장바구니 목록보기</button>

  <form id="cartForm">
    <div class="form_div">

    </div>
    <div>
      <input type="text" readonly value="0" class="item_sum" name="item_sum">
      총가격 <input type="text" readonly class="total_amount" value="0" name="total_amount">
    </div>
    <button type="button" onclick="cartFormBtn()">결제하기</button>
  </form>
</div>

<h1>Cart Items</h1>
<table>
  <thead>
  <tr>
    <th><input type="checkbox" id="cartCheckAll">전체선택</th>
    <th>ID</th>
    <th>Item ID</th>
    <th>Count</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody id="cartItemsBody">
  <!-- Cart items will be displayed here -->
  </tbody>
</table>

<div>
  <span>가격 = <input type="text" readonly id="totalPrice"></span>
  <button id="purchaseButton" onclick="handlePurchase()">상품 결제하기</button>
</div>

<!--<form action="http://localhost:8080/kakaoPay" method="get">-->
<!--  <button type="submit">결제하기</button>-->
<!--</form>-->

<script>
  let form = document.querySelector('.testForm');
  // 인풋태크 계산
  let totalPrice = 0;
  let totalAmountInput = document.querySelector(".total_amount");
  let items = document.querySelectorAll(".item");
  let item_sum = document.querySelector(".item_sum");

  let cartCheckAll = document.getElementById("cartCheckAll");

  // 장바구니 상품 체크박스 전체 선택
  cartCheckAll.addEventListener("change" , ()=> {
    // 전체선택 체크박스의 상태 가져오기
    const isChecked = cartCheckAll.checked;
    // 테이블 바디 내의 모든 체크박스 요소 가져오기
    let cartItemsBody = document.getElementById("cartItemsBody");
    let checkboxes = cartItemsBody.querySelectorAll('input[type="checkbox"]');

    // 테이블 바디 내의 모든 체크박스의 상태 변경
    checkboxes.forEach((checkbox) => {
      checkbox.checked = isChecked;
    });
    calculateCartItemTotalPrice();
  })

  // 장바구니 상품 체크 된 상품 총 가격
  function calculateCartItemTotalPrice() {
    let cartItemsBody = document.getElementById("cartItemsBody");
    let checkboxes = cartItemsBody.querySelectorAll('input[type="checkbox"]');
    let totalPrice = 0;
    let checkCount = 0;
    checkboxes.forEach((checkbox) => {
      if (checkbox.checked) {
        let price = parseInt(checkbox.parentElement.parentElement.querySelector('.cartItemPrice').value);
        totalPrice += price;
        checkCount++;
      }
    });
    document.getElementById("totalPrice").value = totalPrice;
    if(checkCount === 0){
      document.getElementById("purchaseButton").innerText = `상품 결제하기`;
    }
    document.getElementById("purchaseButton").innerText = `상품 ${checkCount}개 결제하기`;
  }

  // 장바구니 구매하기 수정ing~~~
  function handlePurchase() {
    // 세션 스토리지에서 JWT 토큰을 가져옵니다.
    let jwtToken = sessionStorage.getItem('jwtToken');

    if (!jwtToken) {
      if(confirm('로그인이 필요한 서비스입니다. 로그인 하시겠습니까?.')){
        window.location = "http://localhost:8080/login";
      }else {
        return; // 함수를 종료합니다.
      }
    } else {
      let cartItemsBody = document.getElementById("cartItemsBody");
      let checkboxes = cartItemsBody.querySelectorAll('input[type="checkbox"]');
      let selectedItems = []; // 배열로 초기화

      checkboxes.forEach((checkbox, index) => {
        if (checkbox.checked) {
          let itemRow = checkbox.parentElement.parentElement;
          let itemId = itemRow.querySelector('.cartItemId').value;
          let itemCount = itemRow.querySelector('.cartItemCount').value;
          // 이제 itemId와 itemCount를 사용하여 선택된 아이템 정보를 처리할 수 있습니다.
          selectedItems.push({ itemId: itemId, itemCount: itemCount }); // 배열에 아이템 객체 추가
        }
      });

      if(selectedItems.length === 0){
        alert("아이템을 선택해주세요.");
        return;
      }

      let selectedItemsJSON = JSON.stringify(selectedItems);


      // 요청 헤더에 JWT 토큰을 포함시킵니다.
      let headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + jwtToken
      };

      fetch(`http://localhost:8080/order/orderproducts`, {
        method: "POST",
        headers: headers, // 헤더에 JWT 토큰을 포함시킵니다.
        body: JSON.stringify(selectedItems),
      }).then(response => {
        return response.json();

      }).then(responseData => {
        console.log(responseData);
        if(responseData.resultCode === "200"){
          console.log(responseData.data);
          let goduuid = responseData.data;
          sessionStorage.setItem("goduuid", goduuid);
          window.location.href = `http://localhost:8080/ordersheet/pay`;

        }else {
          alert(responseData.error);
        }
      }).catch(error => {
        console.error(error);
      });
    }
  }

  // fetch(`http://localhost:8080/order/ordersheet`, {
  //   method: "POST",
  //   headers: headers, // 헤더에 JWT 토큰을 포함시킵니다.
  //   body: resultData,
  // }).catch(error => {
  //   console.log(error);
  // });

  // 장바구니 상품 추가
  function addCart() {
    // 폼을 가져옵니다.
    let form = document.querySelector('.testForm');
    let checkbox = form.querySelector("#checkitem1");

    // 세션 스토리지에서 JWT 토큰을 가져옵니다.
    let jwtToken = sessionStorage.getItem('jwtToken');
    // JWT 토큰이 없으면 에러를 처리합니다.

    if (!jwtToken) {
      if(confirm('로그인이 필요한 서비스입니다. 로그인 하시겠습니까?.')){
        window.location = "http://localhost:8080/login";
      }else {
        return; // 함수를 종료합니다.
      }
    } else {
      let jwtToken = sessionStorage.getItem('jwtToken');
      let itemName = checkbox.name;
      let itemType = form.querySelector('.check_type').value;
      let itemQuantity = form.querySelector('.itemNum').value;

      // 요청 헤더에 JWT 토큰을 포함시킵니다.
      let headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + jwtToken
      };

      // 요청 바디에 데이터를 JSON 형식으로 변환하여 전송합니다.
      let requestData = {
        itemName: itemName,
        itemType: itemType,
        itemQuantity: itemQuantity
      };

      fetch("http://localhost:8080/cart/add_items", {
        method: "POST",
        headers: headers, // 헤더에 JWT 토큰을 포함시킵니다.
        body: JSON.stringify(requestData)
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(resData => {
          if(resData.resultCode == "200"){
            alert("장바구니 추가");
            console.log(resData.data);
            let gctuuid = resData.data.id;
            sessionStorage.setItem("gctuuid", gctuuid);
            retrieveBasket();
          }else {
            alert(resData.errorMessage);
          }
        })
        .catch(err => {
          console.error('There was a problem with the fetch operation:', err);
        });
    }
  }



  // 장바구니 상품 조회
  function retrieveBasket() {
    // 세션 스토리지에서 JWT 토큰을 가져옵니다.
    let jwtToken = sessionStorage.getItem('jwtToken');
    // JWT 토큰이 없으면 에러를 처리합니다.

    if (!jwtToken) {
      if(confirm('로그인이 필요한 서비스입니다. 로그인 하시겠습니까?.')){
        window.location = "http://localhost:8080/login";
      }else {
        return; // 함수를 종료합니다.
      }
    } else {
      // // 요청 헤더에 JWT 토큰을 포함시킵니다.
      // let gcfuuid = sessionStorage.getItem('gcfuuid');
      //
      // if (!gcfuuid) {
      //   alert("장바구니가 없습니다.");
      //   return;
      // }
      let headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + jwtToken,
      };
      fetch("http://localhost:8080/cart/retrieveBasket", {
        method: "GET",
        headers: headers, // 헤더에 JWT 토큰을 포함시킵니다.
      })
        .then(res => {
          console.log(res.status);
          if (res.status === 200) {
            return res.json();
          } else {
            throw new Error("네트워크 오류 발생");
          }
        }).then(resData => {

        if(resData.resultCode === "200"){
          displayCartItems(resData.data); // 테이블에 장바구니 항목 표시
          calculateCartItemTotalPrice();
        } else if(resData.resultCode === "204"){
          alert(resData.data);
          window.location.href = "/cartView";
          return;
        }else {
          alert(resData.errorMessage);
        }
      })
        .catch(error => {
          console.log(error.message);
        })
    }
  }


    // 장바구니 목록 테이블 추가 함수
    function displayCartItems(cartItems) {
      const cartItemsBody = document.getElementById("cartItemsBody");
      cartItemsBody.innerHTML = ""; // 기존 테이블 내용 초기화

      cartItems.forEach((cartItem, index) => {
        const row = document.createElement("tr");
        row.innerHTML = `
                <td><input type="checkbox" onchange="calculateCartItemTotalPrice()" name="${index + 1}"></td>
                <td><input class="cartId" readonly value="${cartItem.id}"></td>
                <td><input class="cartItemId" type="text" readonly value="${cartItem.itemId}"></td>
                <td><input class="cartItemCount"  type="number" readonly value="${cartItem.count}"></td>
                <td><input class="cartItemPrice"  type="text" readonly value="${cartItem.count * 2500}"></td>
                <td ><button type="button" onclick="changeCartItem(this)" class="updateBtn">수정</button>
                <button type="submit" onclick="updateCartItem(${cartItem.id}, this)" class="saveBtn" style="display: none">저장</button></td>
                <td class="deleteTd"><button  type="submit" onclick="deleteCartItem(${cartItem.id})" class="deleteBtn">삭제</button>
                <button onclick="cancelEdit(this ,${cartItem.count})" class="cancelBtn" style="display: none">취소</button></td>
      `;
        cartItemsBody.appendChild(row);
      });
    }

    // 장바구니 상품 수정 버튼
    function changeCartItem(button) {
      const row = button.closest('tr');
      toggleButtons(row, true);
    }

    // 장바구니 상품 취소 버튼
    function cancelEdit(button, count) {
      const row = button.closest('tr');
      toggleButtons(row, false);
      const countInput = row.querySelector('input.cartItemCount');
      countInput.value = count;
    }

    // 장바구니 상품 토글 버튼
    function toggleButtons(row, showSaveCancelBtns) {
      const countInput = row.querySelector('input.cartItemCount');
      const updateBtn = row.querySelector('.updateBtn');
      const saveBtn = row.querySelector('.saveBtn');
      const deleteBtn = row.querySelector('.deleteBtn');
      const cancelBtn = row.querySelector('.cancelBtn');

      countInput.readOnly = !showSaveCancelBtns;

      saveBtn.style.display = showSaveCancelBtns ? 'inline-block' : 'none';
      cancelBtn.style.display = showSaveCancelBtns ? 'inline-block' : 'none';
      updateBtn.style.display = showSaveCancelBtns ? 'none' : 'inline-block';
      deleteBtn.style.display = showSaveCancelBtns ? 'none' : 'inline-block';
    }




    // 장바구니 상품 업데이트
    function updateCartItem(cartId,eventBtn) {
      // 세션 스토리지에서 JWT 토큰을 가져옵니다.
      let jwtToken = sessionStorage.getItem('jwtToken');
      const row = eventBtn.closest('tr');
      const countInput = row.querySelector('input.cartItemCount');
      let headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + jwtToken,
      };
      if (!jwtToken) {
        alert("로그인해주세요");
        window.location.href = "/login";
      } else {
        fetch(`http://localhost:8080/cart/updateCart/${cartId}/${countInput.value}`, {
          method: "GET",
          headers: headers, // 헤더에 JWT 토큰을 포함시킵니다.
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to fetch data');
            }
            return response.json();
          })
          .then(resData => {
            if(resData.resultCode === "200"){
              alert(resData.data);
              retrieveBasket();
            }else {
              alert(resData.errorMessage);
            }
          })
          .catch(err => {
            console.error(err);
          });
      }

    }

    // 장바구니 상품 제거
    function deleteCartItem(cartId) {

      console.log(cartId);
      // 세션 스토리지에서 JWT 토큰을 가져옵니다.
      let jwtToken = sessionStorage.getItem('jwtToken');
      // 요청 헤더에 JWT 토큰을 포함시킵니다.
      let gctuuid = sessionStorage.getItem('gctuuid');

      let headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + jwtToken,
        'Uuid': gctuuid
      };
      if (!jwtToken) {
        alert("로그인해주세요");
        window.location.href = "/login";
      }
      fetch(`http://localhost:8080/cart/deleteItem/${cartId}`, {
          method: "GET",
          headers: headers,
        }
      )
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.text();
        })
        .then(data => {
          alert(data);
          retrieveBasket();
        })
        .catch(error => {
          console.error(error);
          if (error.status === 401 || error.status === 403) {
            alert(error.body);
            window.location.href = "/login";
          } else if (error.status === 409) alert(error.message);
        })

    }


    // 상품 불 필요
    items.forEach(item => {
      let checkbox = item.querySelector("input[type='checkbox']");
      let select = item.querySelector(".check_type");
      let numInput = item.querySelector(".itemNum");
      let totalInput = item.querySelector(".item_total");

      checkbox.addEventListener("change", () => {
        // 체크박스의 상태가 변경될 때마다 totalPrice를 새로 계산하여 갱신
        totalPrice = calculateTotalPrice();
        totalAmountInput.value = totalPrice;
        // 아이템 총 수량을 업데이트합니다.
        updateItemSum();
      });

      numInput.addEventListener("input", () => {
        let numValue = parseInt(numInput.value);
        let shakePrice = parseInt(select.value);
        let newTotalPrice = numValue * shakePrice;
        let oldItemTotalPrice = parseInt(totalInput.value);

        totalPrice = totalPrice - oldItemTotalPrice + newTotalPrice;
        totalInput.value = newTotalPrice;

        if (checkbox.checked) {
          totalPrice = calculateTotalPrice();
          totalAmountInput.value = totalPrice;
          // 아이템 총 수량을 업데이트합니다.
          updateItemSum();
        }
      });

      select.addEventListener("change", () => {
        numInput.value = 1;
        let numValue = parseInt(numInput.value);
        let oldOptionPrice = parseInt(totalInput.value);
        let newOptionPrice = parseInt(select.value) * numValue;

        totalPrice = totalPrice - oldOptionPrice + newOptionPrice;
        totalInput.value = newOptionPrice;

        if (checkbox.checked) {
          totalPrice = calculateTotalPrice();
          totalAmountInput.value = totalPrice;
          // 아이템 총 수량을 업데이트합니다.
          updateItemSum();
        }
      });
    });

    // 현재 체크된 상품들의 총 가격을 계산하는 함수
    function calculateTotalPrice() {
      let total = 0;
      items.forEach(item => {
        let checkbox = item.querySelector("input[type='checkbox']");
        let totalInput = item.querySelector(".item_total");
        if (checkbox.checked) {
          total += parseInt(totalInput.value);
        }
      });
      return total;
    }

    // 아이템 총 수량을 업데이트하는 함수
    function updateItemSum() {
      let sum = 0;
      items.forEach(item => {
        let checkbox = item.querySelector("input[type='checkbox']");
        let numInput = item.querySelector(".itemNum");
        if (checkbox.checked) {
          sum += parseInt(numInput.value) || 0; // NaN을 방지하기 위해 0으로 대체합니다.
        }
      });
      item_sum.value = sum;
    }



</script>
</body>

</html>