<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>KakaoPay Payment</title>

</head>
<body>

<table>
  <thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Item ID</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody id="cartItemsBody">
  </tbody>
</table>




<form id="kakaoPayForm"> <!--th:action="@{/kakao-pay/ready}" method="post"-->
  <button type="button" onclick="kakaoPayReady()">KakaoPay 결제하기</button>
</form>


<script>
  function kakaoPayReady() {
    // 비동기 통신
    fetch('/kakao-pay/ready', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
    })
      .then(response => response.json())
      .then(data => {
        location.href = data.redirectUrl;
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

  function retrieveBasket() {
    // 세션 스토리지에서 JWT 토큰을 가져옵니다.
    let jwtToken = sessionStorage.getItem('jwtToken');
    // JWT 토큰이 없으면 에러를 처리합니다.

    if (!jwtToken) {
      alert("로그인 해주세요");
      window.location.href = "/login"; // 로그인 페이지 URL로 이동
      return; // 함수를 종료합니다.
    } else {
      // 요청 헤더에 JWT 토큰을 포함시킵니다.
      let gcfuuid = sessionStorage.getItem('gcfuuid');

      if (!gcfuuid) {
        alert("장바구니가 없습니다.");
        return;
      }
      let headers = {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + jwtToken,
        'Uuid': gcfuuid
      };
      fetch("http://localhost:8080/cart/retrieveBasket", {
        method: "GET",
        headers: headers, // 헤더에 JWT 토큰을 포함시킵니다.
      })
        .then(res => {
          if(res.ok){
            return res.json()
          } else if(res.status === 400){
            alert("장바구니가 비어 있습니다.");
            return;
          } else if(res.status === 403){
            alert("로그인 정보를 확인해주세요.");
            return ;
          } else {
            throw new Error("네트워크 오류 발생");
          }
        }).then(data => {
        console.log(data);
        displayCartItems(data); // 테이블에 장바구니 항목 표시
      })
        .catch(error => {
          alert(error.message);
          if(error.message==="장바구니가 비어 있습니다."){
            window.location.href = "/cartView";
          }
        })
    }
  }


</script>
</body>
</html>