<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
</head>
<title>나이스페이Test</title>
<head>
<meta charset="UTF-8">
<body>
 <button onclick="serverAuth()">serverAuth 결제하기</button>
 <script>
   function serverAuth() {
     AUTHNICE.requestPay({
       clientId: '58e3b578555e45738d6b569e53d5ae54',
       method: 'card',
       orderId: random(),
       amount: 1004,
       goodsName: '나이스페이-상품',
       returnUrl: 'http://localhost:3000/serverAuth',
       fnError: function (result) {
         alert('고객용메시지 : ' + result.msg + '\n개발자확인용 : ' + result.errorMsg + '')
       }
     });
   }

   //Test orderId 생성
   const random = (length = 8) => {
     return Math.random().toString(16).substr(2, length);
   };
 </script>
</body>
</html>