<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>주문하기</title>
  <script defer src="/js/orderPay.js"></script>
</head>
<body>

<div id="deliveryDiv">
  <h1>배송지</h1>
  <input id="deliveryAddress_id" style="display: none">
  <input id="deliveryAddress_recipient_name">
  <input id="deliveryAddress_contact_number">
  <input id="deliveryAddress" style="width: 500px">
  <button id="openModalBtn">변경</button>
</div>

<div id="myModal" class="modal" style="display: none">
  <div class="modal_content">
    <span class="close">&times;</span>
    <div id="updateDeliveryAddressDiv">
      <div style="display: none" id="recipient_nameDiv">
        <label for="recipient_name">받는 이</label>
        <input id="recipient_name" required maxlength="50">
        <p></p>
      </div>
      <div style="display: none" id="contact_numberDiv">
        <label for="contact_number">연락처</label>
        <input id="contact_number" required placeholder="연락처를 입력해주세요.">
        <p></p>
      </div>
      <div>
        <label for="searchDeliveryAddress">주소</label>
        <input id="searchDeliveryAddress" type="button" onclick="execDaumPostcode()" value="주소 찾기"><br>
      </div>
      <div id="searchDeliveryAddressDiv" style="display: none">
        <input style="display: none" type="text" id="postcode" placeholder="우편번호" readonly>
        <input style="display: none" type="text" id="roadAddress" placeholder="도로명주소" readonly>
        <input style="width: 500px" type="text" id="roadFullAddress" placeholder="도로명주소" readonly>
        <span id="guide" style="color:#999;display:none"></span>
        <input type="text" id="detailAddress" placeholder="상세주소" requirede>
        <input style="display: none" type="text" id="extraAddress" placeholder="참고항목" readonly>
        <button type="button" id="addressCheckBTN">확인</button>
        <input type="checkbox" id="default_address"><label for="default_address">기본 배송로 설정</label>
        <button type="button" id="updateDeliveryAddressBtn">저장하기</button>
      </div>

      <ul id="deliveryAddressListUl">

      </ul>

    </div>
  </div>
</div>


<div id="customerDiv">
  <h2>주문자</h2>
  <input type="text" id="nameInput">
  <input type="text" id="phoneNumberInput">
  <input type="text" id="emailInput">
</div>

<form id="kakaoPayForm"> <!--th:action="@{/kakao-pay/ready}" method="post"-->
  <div>
    <h2></h2>
    <table>
      <thead>
      <tr>
        <th>주문상세번호</th>
        <th>상품 아이디</th>
        <th>상품 수량</th>
      </tr>
      </thead>
      <tbody id="orderItemsBody">
      </tbody>
    </table>
  </div>

  <button type="button" onclick="kakaoPayReady()">KakaoPay 결제하기</button>
</form>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</html>